.logo { 
  color: greenyellow;
}


.nav { 
  width: 100vw;
  height: 45px;
  background-color: bisque;

  display: flex;
  justify-content: space-evenly;
}

.search { 
  background-color: gray;
  display: flex;
  align-items: center;

  border-radius: 20px;
  padding: 0 4px;
}

.searchIcon {
  margin-bottom: 5px;
}